body{
	height: 10000px;
}
.header-wrap{
	height: 35px;
	background:#f5f5f5;
	border-bottom: 1px solid #eee;
	
}
.header{
	width: 1190px;
	height: 35px;
	/* background: pink; */
	margin: 0 auto;
}
.header .list-l{
	float:left;
}
.header .list-l li{
	float:left;
	/* border:1px solid blue; */
}
.header .list-l li a{
	line-height: 35px;
	display: block;
	/* border:1px solid red; */
}
.header .list-l .one{
	margin-left: 6px;

}
.header .list-l .one a{
	color:#f40;
}

.header .list-r{
	float:right;
}
.white-wrap{
	height: 150px;
	background: #fff;
}
.white{
	width: 1190px;
	height: 150px;
	/* background: pink; */
	margin: 0 auto;
}
/* 第一种插入图 */
/* .white .logo{
	float:left;
	overflow: hidden;
	height: 58px;
	
}
.white .logo a{
	display: block;
	text-indent: 200px;
}
 */ 
/* 第二种背景图 */

/* .white .logo{
	float:left;
	margin: 38px 0 0 22px;
}
.white .logo a{
	display: block;
	width: 145px;
	height: 58px;
	text-indent: -9999px;
	background: url(../images/logo.jpg) no-repeat;
}
 */
/* 第三种 */
.white .logo{
	float:left;
	margin: 38px 0 0 22px;
	height: 58px;
	overflow: hidden;
}
.white .logo a{
	display: block;
	width: 145px;
	/* height: 58px; */
	/* text-indent: -9999px; */
	padding-top: 58px;
	background: url(../images/logo.jpg) no-repeat;
}
.submitDiv{
	float:left;
/* 	width: 700px;
	height: 120px; */
	/* background: yellow; */
	margin: 30px 0 0 99px;
}
.baby li{
	float:left;
	width: 50px;
	height: 25px;
	line-height: 25px;
	/* background: greenyellow; */
	color:#f40;
	text-align: center;
	cursor: pointer;
}
.baby li:hover{
	background: #FFEEE5;
}
/* .submitDiv .baby .current{
	background: #f40;
	color:#fff;
	font-weight: 700;
}
 */
.baby .current{
	background: #f40 !important;
	color:#fff;
	font-weight: 700;
}
.submitDiv .search{
	width: 490px;
	height: 34px;
	border: 3px solid #f50;
	border-right: none;
	float:left;
	background: url(../images/fang.png) no-repeat 13px 11px;
	padding-left: 10px;
	text-indent: 20px;
}
.submitDiv .btn{
	float:left;
	width: 122px;
	height: 40px;
	background: #ff4200;
	border:none;
	font:700 18px "宋体";
	color:#fff;
}

.submitDiv .gao{
	float:left;
	margin-left: 9px;
}
.shop li{
	float:left;
	margin-right: 9px;
}
.shop li a{
	display: block;
	line-height: 36px;
}
.main{
	width: 1190px;
	height: 555px;
	background: pink;
	margin: 0 auto;
}
.main-l{
	width: 190px;
	height: 555px;
	background: #ff6537;
	float:left;
}
.main-r{
	width: 990px;
	height: 555px;
	background: yellowgreen;
	float:right;
}
.main-r .nav{
	height: 44px;
	background: #f1f1f1;
	
}
.main-r-b{
	height: 511px;
	background: greenyellow;
}
.nav ul{
	margin-top: 4px;
}
.nav .list01{
	float:left;
	margin-left: 3px;
}
.nav .list01 li{
	float:left;
	margin-right: 6px;
}
.nav .list01 li a{
	height: 28px;
	line-height: 28px;
	display: block;
	font-size: 16px;
	color:#f40;
	/* background: yellow; */
	padding: 0 6px;
	border-radius: 13px;
	font-weight: 700;
}
.nav .list01 li a:hover,.nav .list02 li a:hover{
	background: #f40;
	color:#fff;
}
.nav .list02{
	float:left;
}
.nav .list02 li{
	float:left;
	margin-left: 7px;
}
.nav .list02 li a{
	height: 28px;
	line-height: 28px;
	display: block;
	font-size: 14px;
	color:#3c3c3c;
	/* background: yellow; */
	padding: 0 4px;
	border-radius: 13px;
	font-weight: 700;
}
.banner{
	width: 520px;
	height: 511px;
	background: cyan;
	float:left;
}
.adv{
	width: 160px;
	height: 511px;
	background: yellow;
	float:left; 
	margin-left: 10px;
}
.user{
	width: 290px;
	height: 511px;
	background: goldenrod;
	float:right;
}
.user-top{
	height: 167px;
	background: #fff url(../images/member-bg.jpg) no-repeat 0 0;
	border-bottom: 2px solid #eee;
	overflow: hidden;
}
.user-top .tou {
	width: 60px;
	display: block;
	margin: 15px auto 0;
}
.user-top .tou img{
	border-radius: 50%;
}
.user-top h5{
	text-align: center;
	font-weight: 400;
	margin-top: 3px;
}
.gold{
	padding-left: 54px;
}
.gold a{
	float:left;
	color:#f40;
}
.gold span{
	float:left;
}
.gold a img{
	float:left;
	margin-top: 2px;
	margin-right: 5px;
}
.gold .huo{
	margin: 0 5px;
}
.user-top ul{
	padding:5px 0 0 15px;
}
.user-top ul li{
	float:left;
	margin-right: 7px;
}
.user-top ul li a{
	width: 75px;
	height: 25px;
	background: #f40;
	color:#fff;
	text-align: center;
	display: block;
	font:700 14px "宋体"; 
	line-height: 25px;
}