html {
  height: 100%;
  font-size: 5.3333333vw;
}
body {
  padding: 0 0.675rem 0 0.725rem;
  height: 3000px;
}
.header {
  height: 4.375rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header h3 {
  font-size: 1rem;
}
.header i {
  color: #999;
}
.header em {
  color: #656565;
}
.header h3 {
  color: #24253d;
}
.banner img {
  width: 100%;
}
.list {
  height: 6.1rem;
  margin-top: 1rem;
}
.list ul {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
.list li {
  width: 8.175rem;
  height: 2.6rem;
  background: #f97053;
  border-radius: 5px;
}
.list li a {
  display: flex;
  height: 100%;
  color: #fff;
  justify-content: center;
  align-items: center;
}
.list li:nth-of-type(2) {
  background: #d27efd;
}
.list li:nth-of-type(3) {
  background: #ff3e74;
}
.list li:nth-of-type(4) {
  background: #1bc6fb;
}
.list li a span {
  margin-left: 0.875rem;
}
.photo-head {
  height: 2.95rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.photo-head h3 {
  font-size: 0.65rem;
  border-left: 3px solid #3a84ff;
  padding-left: 0.425rem;
  color: #24253d;
}
.photo-head span {
  font-size: 0.6rem;
  color: #656565;
}
.photo-body {
  overflow-y: hidden;
}
.photo-body ul {
  width: 51.9rem;
  display: flex;
}
.photo-body ul li {
  width: 8.15rem;
  background: #fff;
  border-radius: 5px;
  margin-right: 0.6rem;
  padding: 0.5rem;
  box-sizing: border-box;
}
.photo-body ul li:last-of-type {
  margin: 0;
}
.photo-body ul li img {
  width: 100%;
}
.photo-body ul li h4 {
  font-size: 0.6rem;
  color: #24253d;
  background: pink;
  margin-top: 0.55rem;
}
.photo-body ul li .girl {
  height: 1.05rem;
  line-height: 1.05rem;
  background: #ffff00 url(../images/girl.png) no-repeat;
  background-size: 1.05rem 1.05rem;
  font-size: 0.5rem;
  color: #969393;
  padding-left: 1.85rem;
  margin-top: 0.575rem;
}
